
.style-switch{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    width: 280px;
    height: 100%;
box-shadow: var(--shadow);
transform: translateX(100%);
transition: all 0.4s ease;
}
.style-switch.open{
    transform: translateX(0);
    box-shadow:var(--shadow);
}
.style-s-main{
    height: 100%;
    background-color: var(--bg-color);
    padding: 30px;
    overflow-y: auto;
}
.style-s-toggler{
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    font-size: var(--fs-md);
    color: var(--text-white);
    position: absolute;
    left: -40px;
    top: 28%;
    border: none;
    border-radius: 8px 0 0 8px;
}
.style-switch h2{
    text-transform: capitalize;
    font-size: var(--fs-xl);
    font-weight: 500;
    padding: 0 0 10px;
}
.style-s-item{
    padding: 15px 0;
    border-top: 1px solid var(--border-color);
}
.style-s-item p{
    margin-bottom: 10px;
}
.hue-slider{
  -webkit-appearance:none;
width:100%;
outline: none;
height: 12px;
border-radius: 6px;
margin-bottom: 5px;
cursor: pointer;
background:linear-gradient(to right,
hsl(0,var(--saturation),var(--lightness)),
hsl(30,var(--saturation),var(--lightness)),
hsl(60,var(--saturation),var(--lightness)),
hsl(90,var(--saturation),var(--lightness)),
hsl(120,var(--saturation),var(--lightness)),
hsl(150,var(--saturation),var(--lightness)),
hsl(180,var(--saturation),var(--lightness)),
hsl(210,var(--saturation),var(--lightness)),
hsl(240,var(--saturation),var(--lightness)),
hsl(270,var(--saturation),var(--lightness)),
hsl(300,var(--saturation),var(--lightness)),
hsl(330,var(--saturation),var(--lightness)),
hsl(360,var(--saturation),var(--lightness))
);
}
.hue-slider:focus{
    box-shadow: var(--shadow);
}
.hue-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--bg-white);
    cursor: pointer;
    border-radius: 50%;
}

.hue-slider::-moz-range-thumb{
    width: 20px;
    height: 20px;
    background-color:var(--bg-white);
    cursor: pointer;
    border-radius: 50%;
}
.hue-slider::-webkit-slider-thumb:hover{
    opacity: 0.8;
}
.hue-slider::-moz-range-thumb{
opacity: 0.8;

}
.form-switch{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
}
.form-switch span{
    padding-right: 15px;
}
.form-switch .js-dark-mode{
    position: absolute;
    pointer-events: none;
    opacity: 0;
}
.form-switch .boxs{
    height: 24px;
    width: 44px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    position: relative;
    transition: all 0.5s ease ;
}
.form-switch .boxs::before{
    content: '';
    height: 14px;
    width: 14px;
    border: 1px solid var(--border-color);
    position: absolute;
    left: 4px;
    top: 4px;
    border-radius: 50%;
    transition:  all 0.5s ease;
}
.form-switch .js-dark-mode:checked + .boxs{
    background-color:var(--main-color);
    border-color: var(--main-color);
}

.form-switch .js-dark-mode:focus + .boxs{
    box-shadow: var(--focus-shadow);
}
.form-switch .js-dark-mode:checked + .boxs::before{
transform: translateX(calc(100% + 6px));
background-color: var(--bg-white);
border-color: transparent;
}

.change {
    display: inline-block;
 margin: 12px 0;  
 padding: 4px 8px; 
}
.change:last-child{
    margin-left:5%;
}